html{
    background: #24C6DC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #24C6DC, #514A9D); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #24C6DC, #514A9D);
    height: 100%;
}

body{
    background: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
}

h2, h3 {
    margin: 0 0 10px 0;
    text-align: center
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

input[type=radio], input[type=checkbox]{
    margin-bottom: 10px;
}
.italic{
    font-style: italic;
}

.grey-text{
    color: grey;
}

.red-text{
    color: red;
}

.container.main{
    height: 500px;
    max-height: 95%
}
.container.footer{
    height: 5%;
    max-height: 5%
}
.main-content{
    background: #ffffff;
    border-radius: 1em;
    padding: 15px;
    margin-top: 50px;
    box-shadow: 1px 2px 10px 0px;
    text-align: center;
}

.form-row{
    margin-bottom:10px;
}


.center-block{
    float:none;
    margin-bottom: 10px;
}
#language-select, #survey, #results p, #results h2, .more-information, form{
    display: none;
}

.contents{
    background: #ffffff;
    border-radius: 1em;
    padding: 20px 30px;
    margin-top: 6%;
    box-shadow: 1px 2px 10px 0px;
    max-height: 90%;
    overflow: hidden;
    min-height: 200px;
    text-align: center;
}

.show{
    display: block;
}
.map{
    max-width: 100%;
    height: auto;
}

#results-close{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 10px;
    padding: 0px 5px;
}

#results{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: rgba(055,055,055,0.5);
    z-index: 10;
}

.btn.close{
    position: absolute;
    right: 15px;
}